.idea/workspace.xml
.idea/shelf/GOODGOODGOOD.xml
__pycache__/Utils.cpython-37.pyc
.idea/shelf/new_changes.xml
*.xml
*.iml
Results/algorithm_1-test_results.log
.idea/Sadna2.iml
.idea/misc.xml
.idea/shelf/parser/shelved.patch
.idea/shelf/small_opt_changes/shelved.patch
.idea/shelf/optiitay/shelved.patch
.idea/shelf/new_changes/shelved.patch
.idea/shelf/intoClass/shelved.patch
.idea/shelf/intoClass/EM-MMM.pdf
.idea/shelf/GOODGOODGOOD/shelved.patch
skip.patch
*.patch
