
Results/algorithm_1-1_results.log
.idea/shelf/GOODGOODGOOD.xml
*.xml
Results/algorithm_1-2_results.log
.idea/workspace.xml
__pycache__/Utils.cpython-37.pyc
.idea/workspace.xml
.idea/shelf/GOODGOODGOOD.xml
.idea/shelf/new_changes.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/Sadna2.iml
*.xml
*.iml
*.xml
*.iml
*.xml
